<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="The project team">
  <meta name="generator" content="Hugo 0.88.1">
  <title>About Us</title>



  <!-- Bootstrap core CSS -->
  <link href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


  <!-- Custom styles for this template -->
  <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/public/css/blog.css" rel="stylesheet">
  <link href="/public/css/util.css" rel="stylesheet" />
</head>


<body>
  <div class="container text-white">
    <header class="blog-header py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1">
          <a class="btn btn-sm btn-outline-secondary text-light" href="/payment">Donate</a>
        </div>
        <div class="col-4 text-center">
          <a href="/"><img src="/public/images/logo.png" alt="logo" class="center"></a>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center text-white">
          <a class="link-secondary text-white" href="#" aria-label="Search">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24">
              <title>Search</title>
              <circle cx="10.5" cy="10.5" r="7.5" />
              <path d="M21 21l-5.2-5.2" />
            </svg>
          </a>
          <% if (!user) { %>
          <a class="btn btn-sm btn-outline-secondary text-light" href="/login">Login</a>
          <% } else { %>
          <span class="me-3">Welcome, <%= user.fullname %></span>
          <a class="btn btn-sm btn-outline-secondary text-light" href="/login" onclick="fetch('/logout', { method: 'POST' })">Logout</a>
          <% if (user.username == process.env.ADMIN_USERNAME){ %>
              <span class="p-l-15"></span>
              <a class="btn btn-sm btn-outline-secondary text-light .ms-1" href="/write_post">Create Post</a>
            <% } %>
          <% } %>

        </div>
      </div>
    </header>

    <div class="nav-scroller py-1 mb-2 text-white">
      <nav class="nav d-flex justify-content-between">
        <a class="p-2 link-secondary text-light" href="/">Home</a>
        <a class="p-2 link-secondary text-light" href="/posts">Blog Post</a>
        <a class="p-2 link-secondary text-light" href="/about">About Us</a>
        <a class="p-2 link-secondary text-light" href="/contact">Contact Us</a>
        <a class="p-2 link-secondary text-light" href="/#video">Video</a>
      </nav>
    </div>
  </div>

  <main class="container">

    <section class="breadcrumps-section">
      <div class="container p-1 p-sm-3">
        <div class="row">
          <div class="col-12">
            <h1>
              About Us
            </h1>

            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <il class="breadcrumb-item active">About us</il>
            </ol>
          </div>
        </div>

      </div>
    </section>

    <section class="">
      <div class="contaner p-1 p-sm-3 ">
        <div class="row">
          <div class="col-12 text-center">
            <h2>About space blog</h2>
            <hr />
          </div>

          <div class="col-12 fs-2">
            <p>
              We are a blog specialing in space we write and give the most up to date info on the worlds
              space events that
              we summerise from offical sorces so join us if you want to know more form one sorce of
              reliable information
              <ph4>
          </div>
        </div>
      </div>
    </section>

    <section class="p-2 pt-md-4 pb-md-4 ">
      <div class="row">
        <div class="col-12 text-center">
          <h2>Subscribe to newsletter</h2>
          <div class="input-group p-3">
            <input type="email" class="form-control" placeholder="Enter your email">

          </div>
          <div class="input-group p-3 float-right justify-content-md-end">

            <input type="Submit" value="Subscribe" id="footer-email-btn">

          </div>
        </div>
      </div>


    </section>

    <section style="vertical-align: middle">
      <div class="contaner p-1 p-sm-3 pd-3" id="team">
        <div class="row pb-5">
          <div class="col-12 text-center">
            <h2>The Team</h2>
            <hr />
          </div>

          <div class="col-2 pb-5 ">
            <img class="vertical-center my-auto  img-fluid  img-responsive rounded-circle" src="/public/images/dummy_profile_pic.jpg" alt="profile pic">
          </div>
          <div class=" contaner col-9 align-middle p-4 fs-4">
            <p>
              Name : Tan Yuan Xiang Elroy
              <br>
              Class : DCPE/FT/2B/01
              <br>
              Admin Number : P2032399
              <br>
              Profile : dont know what to write
            </p>
          </div>

          <div class="col-2 p-2 ">
            <img class="vertical-center img-fluid   rounded-circle" src="/public/images/dummy_profile_pic.jpg" alt="profile pic">
          </div>
          <div class=" contaner col-9 align-middle p-4 fs-4">
            <p>
              Name : Joseph Goh
              <br>
              Class : DCPE/FT/2B/01
              <br>
              Admin Number : 2002314
              <br>
              Profile :
            </p>
          </div>

          <div class="col-2 p-2">
            <img class="vertical-center img-fluid  img-responsive rounded-circle" src="/public/images/dummy_profile_pic.jpg" alt="profile pic">
          </div>
          <div class=" contaner col-9 align-middle p-4 fs-4 ">
            <p>
              Name : Philip Yang
              <br>
              Class : DCPE/FT/2B/01
              <br>
              Admin Number : 2032188
              <br>
              Profile :
            </p>
          </div>

          <div class="col-2 p-2">
            <img class="vertical-center img-fluid  img-responsive rounded-circle" src="/public/images/dummy_profile_pic.jpg" alt="profile pic">
          </div>
          <div class=" contaner col-9 align-middle p-4 fs-4 ">
            <p>
              Name : Siew Hean
              <br>
              Class : DCPE/FT/2B/01
              <br>
              Admin Number : 2032427
              <br>
              Profile :
            </p>
          </div>


        </div>



      </div>

    </section>
  </main>



  <footer class="blog-footer">
    <div class="footer-container">
      <div class="footer">
        <div class="footer-heading footer-1">
          <h2>Blog Post</h2>
          <a href="/posts">Blog</a>
        </div>
        <div class="footer-heading footer-2">
          <h2>Contact Us</h2>
          <a href="/about#team">Elroy Tan</a>
          <a href="/about#team">Joseph Goh</a>
          <a href="/about#team">Philip Yang</a>
          <a href="/about#team">Toh Siew Hean</a>
        </div>
        <div class="footer-heading footer-3">
          <h2>Social Media</h2>
          <a href="/contact#socialMedia">Instagram</a>
          <a href="/contact#socialMedia">Facebook</a>
        </div>
        <div class="footer-email-form">
          <h2>Subscribe to our newsletter</h2>
          <input type="email" placeholder="Enter your email address" id="footer-email">
          <input type="Submit" value="Subscribe" id="footer-email-btn">
        </div>
      </div>
    </div>
  </footer>
</body>


</html>