<!DOCTYPE html>
<html lang="en">

<head>


  <title>Space blog: A blog to get all your knowlage of space</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/blog/" />

  <!-- Bootstrap core CSS -->
  <link href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

  <!-- Custom styles for this template -->
  <link href="/public/css/blog.css" rel="stylesheet" />
  <link href="/public/css/util.css" rel="stylesheet" />
</head>

<body>
  <!-- -----------------------------------------------HEADER SECTION----------------------------------------------- -->

  <div class="container text-white">
    <header class="blog-header py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1">
          <!-- <a class="link-secondary text-white" href="#">Subscribe</a> -->
          <a class="btn btn-sm btn-outline-secondary text-light" href="/payment">Donate</a>
        </div>
        <div class="col-4 text-center">
          <a href="/"><img src="/public/images/logo.png" alt="logo" class="center" /></a>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center text-white">
          <a class="link-secondary text-white" href="#" aria-label="Search">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24">
              <title>Search</title>
              <circle cx="10.5" cy="10.5" r="7.5" />
              <path d="M21 21l-5.2-5.2" />
            </svg>
          </a>
          <% if (!user) { %>
          <a class="btn btn-sm btn-outline-secondary text-light" href="/login">Login</a>
          <% } else { %>
          <span class="me-3">Welcome, <%= user.fullname %></span>
          <a class="btn btn-sm btn-outline-secondary text-light" href="/login" onclick="fetch('/logout', { method: 'POST' })">Logout</a>
          <% if (user.username == process.env.ADMIN_USERNAME){ %>
              <span class="p-l-15"></span>
              <a class="btn btn-sm btn-outline-secondary text-light .ms-1" href="/write_post">Create Post</a>
            <% } %>
          <% } %>
        </div>
      </div>
    </header>

    <div class="nav-scroller py-1 mb-2 text-white">
      <nav class="nav d-flex justify-content-between">
        <a class="p-2 link-secondary text-light" href="/">Home</a>
        <a class="p-2 link-secondary text-light" href="/posts">Blog Post</a>
        <a class="p-2 link-secondary text-light" href="/about">About Us</a>
        <a class="p-2 link-secondary text-light" href="/contact">Contact Us</a>
        <a class="p-2 link-secondary text-light" href="#video">Video</a>
      </nav>
    </div>
  </div>

  <!-- Main dody -->
  <main class="container mt-4">


    <a href="https://blog.ted.com/reimagine-ted-talks-from-five-inspiring-youth-leaders-in-partnership-with-unicef/" class="text-white">
      <div class="row g-0 border-bottom overflow-hidden flex-md-row mb-4 shadow-sm h-md-1000 position-relative" href="/posts/">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">News</strong>
          <h3 class="mb-0 ">Reimagine: TED Talks from five inspiring youth leaders, in partnership with UNICEF</h3>
          <div class="mb-1 text-muted">By Crawford Hunt, Oliver Friedman, Tom Carter, Brian Greene and Greer Jackson
            on Dec 10, 2021</div>
          <p class="card-text mb-auto">
            Young people across the world are reimagining the future and catalyzing the changes we need today.
            One thing is clear: we need to listen to youth voices now more than ever. In two days of virtual talks,
            we heard from five inspiring youth leaders about their most pressing concerns and the opportunities they
            see to […]
          </p>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="my-auto img-fluid" style="width:283px;height:212px;" src="https://i0.wp.com/blog.ted.com/wp-content/uploads/sites/2/2021/12/TEDSalon_UNICEF_2021_MakhtoumAbdalla_0009.jpg?resize=283%2C212&ssl=1" alt="blog new pic">


        </div>
      </div>
    </a>
    <a href="/posts/" class="text-white">
      <div class="row g-0 border-bottom overflow-hidden flex-md-row mb-4 shadow-sm h-md-1000 position-relative" href="/posts/">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">artical catergory</strong>
          <h3 class="mb-0 ">Add more stuff</h3>
          <div class="mb-1 text-muted">By Name on Date</div>
          <p class="card-text mb-auto">
            Add more seuff […]
          </p>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="my-auto img-fluid" style="width:283px;height:212px;" src="" alt="Add picture">


        </div>
      </div>
    </a>
    <a href="http://example.com" class="text-white">
      <div class="row g-0 border-bottom overflow-hidden flex-md-row mb-4 shadow-sm h-md-1000 position-relative" href="/posts/">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">artical catergory</strong>
          <h3 class="mb-0 ">Add more stuff</h3>
          <div class="mb-1 text-muted">By Name on Date</div>
          <p class="card-text mb-auto">
            Add more seuff […]
          </p>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="my-auto img-fluid" style="width:283px;height:212px;" src="" alt="Add picture">


        </div>
      </div>
    </a>
    <div class="row">
      <div class="mb-4  text-center">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">

            <li class="page-item active" aria-current="page">
              <span class="page-link">
                1
                <span class="sr-only"></span>
              </span>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>


            </li>
          </ul>
        </nav>
      </div>

  </main>
</body>

<!-- -----------------------------------------------FOOTER SECTION----------------------------------------------- -->

<footer class="blog-footer">
  <div class="footer-container">
    <div class="footer">
      <div class="footer-heading footer-1">
        <h2>Blog Post</h2>
        <a href="/posts">Blog</a>
      </div>
      <div class="footer-heading footer-2">
        <h2>Contact Us</h2>
        <a href="/about#team">Elroy Tan</a>
        <a href="/about#team">Joseph Goh</a>
        <a href="/about#team">Philip Yang</a>
        <a href="/about#team">Toh Siew Hean</a>
      </div>
      <div class="footer-heading footer-3">
        <h2>Social Media</h2>
        <a href="/contact#socialMedia">Instagram</a>
        <a href="/contact#socialMedia">Facebook</a>
      </div>
      <div class="footer-email-form">
        <h2>Subscribe to our newsletter</h2>
        <input type="email" placeholder="Enter your email address" id="footer-email">
        <input type="Submit" value="Subscribe" id="footer-email-btn">
      </div>
    </div>
  </div>
</footer>

</html>