<!doctype html>
<html lang="en">


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="The project team">
  <meta name="generator" content="Hugo 0.88.1">
  <title>Add Post</title>

  <script src="/public/vendor/jquery/jquery-3.2.1.min.js"></script>

  <!-- Bootstrap core CSS -->
  <link href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">


  <!-- Custom styles for this template -->
  <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/public/css/write_post.css" rel="stylesheet">

  <!-- Load an icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesopublic\images\space.jpge/4.7.0/css/font-awesome.min.css">

</head>

<body>

  <!-- The sidebar -->
  <div class="sidebar">
    <a href="#" class="disabled"><i class="fa fa-fw fa-plus"></i> Add Post</a>
    <a href="#"><i class="fa fa-fw fa-plus"></i> a tag without disavled</a>
  </div>
  <main class="main">
    <br>
    <h1>Post Blog</h1>

    <form method="post" enctype='multipart/form-data'>
      <div class="form-group">
        <label for="title">Title</label>

        <input type="text" name="title" class="form-control" id="title" placeholder="Title here" required>
      </div>
      <br>
      <div class="form-group">
        <label for="picture">Blog post images</label>
        <br>
        <input type="file" name="picture" accept="image/*" class="form-control-file" id="picture">
      </div>
      <br>
      <div class="form-group">
        Author(s)
        <div id="authors">
          <input type="text" name="authors[]" class="form-control m-1" id="input_author" placeholder="Siew Hean" required>
          <div><input type="text" name="authors[]" class="form-control m-1" id="add_author" placeholder="Siew Hean"><button></div>
        </div>
        <button type="button" class="btn btn-outline-primary m-1" onclick="console.log($('#add_author').clone().appendTo('#authors').attr('value', '').removeAttr('id'))">Add</button>
      </div>
      <br>

      <div class="form-group">
        <label for="content">The Blog Post Content</label>
        <textarea name="content" class="form-control" id="content" rows="3"></textarea>
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Submit Post</button>
    </form>




  </main>


</body>

</html>